@charset "utf-8";
/* CSS Document */

@media all and (max-width: 800px) {
    h1 {
        width: 100%;
    }
    
    nav {
        background: #fdc751;
        width: 100%;
    }
    
    section {
        width: 100%;
        margin-left: 0;
    }
    
    aside {
        width: 100%;
    }
}