@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 800px) {
    body {
        color: #000;
        background: #332F29;
        font-size: 100%;
    
        margin: 0 auto;
    }
        
    #contenedor {
        /* width: 800px; */
        background: #8FA68E;
        margin: 0 auto;
        /* margin-right: auto;
            margin-left: auto; */
        overflow: hidden;
    }
    
    nav {
        background: #fdc751;
        /* float: left; */
        width: 0 auto;
        display: flex;
        margin: 0 auto;
    }
    
    a {
        color: black;
        text-decoration: none;
    
        font-size: 20px;
    }
    
    section {
        background: #F1F2C0;
        /* float: left; */
        margin: 0 auto;
        /* width: 400px; */
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    aside {
        background: #CCC59E;
        /* float: right; */
        /* width: 190px; */
        margin: 0 auto;
        border-bottom: 1px solid #000;
        display: inline-block;
    }
}